# --- Artifacts --- #

# Dev
todos.txt
_prompts/**
notes.txt

# Build
/build/**

# Images
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.svgs

# Executables
**/*.out
**/*.o

# --- Developer --- #

# Mac 
.DS_Store

# IDE
.vscode/
